.app-header {
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0px;
  padding: 10px 24px;
  position: fixed;
  z-index: 15;
  background-color: #111827;
}

.app-header-left,
.app-header-right {
  display: flex;
  align-items: center;
}

.app-header-left {
  flex-grow: 1;
  width: 70%;
}

.app-header-right button {
  font-size: 110%;
  margin-left: 13px;
}

.app-header i,
.app-header .profile-btn {
  cursor: pointer;
}

.app-icon {
  width: 26px;
  height: 26px;
  border: none;
  position: relative;
  cursor: pointer;
}

.app-name {
  color: #fff;
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0 32px;
}

.search-wrapper {
  border-radius: 20px;
  background-color: #1f2937;
  padding-right: 12px;
  height: 40px;
  position: relative;
  left: 5px;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 480px;
  color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
}


.search-input {
  border: none;
  flex: 1;
  outline: none;
  height: 100%;
  width: 90%;
  padding: 0 20px;
  font-size: 16px;
  background-color: #1f2937;
  color: #fff;
}

.search-input:placeholder {
  color: #fff;
  opacity: 0.7;
}

.add-btn {
  color: #fff;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-color: transparent;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-btn {
  color: #fff;
  padding: 0;
  border: 0;
  background-color: transparent;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#notifs-container {
  z-index: 5;
  background: #1f2937;
  width: 18%;
  height: 30%;
  position: fixed;
  display: grid;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 8%;
  right: 18%;
  border-radius: 3%;
  box-shadow: 0px 0px 15px #111827;
}

.message-box {
  color: white;
  user-select: none;
  padding: 10px;
  display: flex;
  width: 100%;
  height: 7%;
}

.message-box:not(:first-child) {
  border-top: 1px solid rgba(250, 250, 250, 0.6);
}

.message-box img {
  border-radius: 50%;
  object-fit: cover;
  width: 40px;
  height: 40px;
}

.message-header {
  display: flex;
  align-items: center;
  width: 100%;
}

.message-header .name {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

.message-header i {
  margin-left: 60%;
}

.message-content {
  padding-left: 16px;
  width: 100%;
}

.message-line {
  font-size: 14px;
  line-height: 20px;
  margin: 8px 0;
  color: #fff;
  opacity: 0.7;
}

.message-line.time {
  text-align: right;
  margin-bottom: 0;
}

.profile-btn {
  padding: 0;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding-left: 12px;
  border-left: 2px solid #ddd;
}

.profile-btn img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 4px;
}

.profile-btn span {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

#user-options {
  z-index: 5;
  background: #1f2937;
  width: 20%;
  height: 16%;
  position: fixed;
  overflow: hidden;
  top: 8%;
  right: 2%;
  border-radius: 3%;
  box-shadow: 0px 0px 15px #111827;
}
#user-options div {
  cursor: pointer;
  color: white;
  padding: 10% 5%;
  display: flex;
  width: 100%;
  height: 50%;
}

#user-options:first-child {
  border-bottom: 1px solid white;
}


/* Mobile */
@media screen and (max-width: 720px) {

  .app-name,
  .profile-btn span {
    display: none;
  }

  .add-btn,
  .notification-btn {
    width: 20px;
    height: 20px;
  }

  .app-header-right button {
    margin-left: 4px;
  }
  
}