*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  background: #111827;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: sans-serif;
}

.tinder {
  width: 100vw;
  height: 90%;
  top: 10%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.loaded.tinder {
  opacity: 1;
}

.tinder--status {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.tinder--status i {
  pointer-events: none;
  font-size: 100px;
  opacity: 0;
  transform: scale(0.3);
  transition: all 0.6s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

.tinder_love .fa-heart {
  opacity: 1;
  transform: scale(1);
}

.tinder_nope .fa-remove {
  opacity: 1;
  transform: scale(1);
}

.tinder--cards {
  flex-grow: 1;
  padding-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}

.tinder--card {
  display: inline-block;
  width: 90vw;
  max-width: 400px;
  height: 70vh;
  background: #ffffff;
  /*padding-bottom: 40px;*/
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.moving.tinder--card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.tinder--card img {
  outline: none;
  width: 100%;
  height: 50%;
  max-width: 100%;
  pointer-events: none;
}

.tinder--card h3 {
  padding: 3px;
  margin-top: 5%;
  font-size: 30px;
  pointer-events: none;
}

.tinder--card p {
  margin-top: 18px;
  padding: 3px;
  font-weight: 300;
  pointer-events: none;
}
#home-container .tinder--card:hover,
.search-results .tinder--card:hover {
  transform: scale(1.06);
}

.tinder--buttons {
  z-index: 50;
  flex: 0 0 100px;
  text-align: center;
  padding-top: 20px;
}

.tinder--buttons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  border: 0;
  background: #ffffff;
  display: inline-block;
  margin: 0 8px;
}

.tinder--buttons i {
  font-size: 32px;
  vertical-align: middle;
}

.fa-heart {
  color: #fface4;
}

.fa-remove {
  color: #cdd6dd;
}

.tinder--counter {
  position: absolute;
  top: 40%;
  z-index: 50;
}

.tinder--counter p {
  color: #fff;
  transition: 1s;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  width: 60px;
}

.left {
  left: 25px;
}

.right {
  right: 25px;
}

/*
DISCOVER / HOME
*/
#home-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 92%;
  height: 100%;
  position: absolute;
  top: 10%;
  left: 4%;
  gap: 5%;
}

.tags-container {
  width: 105%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 1px;
  gap: 33px;
}
.tag {
  user-select: none;
  position: relative;
  height: 90px;
  width: 90px;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.2s;
}
.tag:hover {
  transform: scale(1.15);
}
.tag i {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  font-size: 60px;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  top: 50%;
  left: 50%;
}
.tag p {
  width: 100%;
  text-align: center;
  margin-top: 104%;
  word-break: break-all;
}
.sect-title {
  margin-top: 8%;
}
.discover-sets {
  color: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  text-align: center;
  gap: 1%;
}

.discover--card {
  cursor: pointer;
  width: 23%;
  height: 49%;
  margin-bottom: 1%;
  min-height: 293px;
  user-select: none;
  position: relative;
}
/*Search Page*/

.search-results {
  text-align: center;
  align-items: center;
  width: 100vw;
  height: 80%;
  top: 20%;
  overflow: scroll;
  display: grid-container;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.search-results .tinder--card {
  margin: 1%;
}

.no-results {
  color: #fff;
  position: fixed;
  text-align: center;
  width: 50%;
  height: 50%;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
}

/*Set Finished Modal*/
.end-overlay {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  visibility: hidden;
  opacity: 0;
  background: #070a11;
  transition: 0.5s;
}

.end-modal {
  z-index: 100;
  overflow: scroll;
  position: fixed;
  width: 40%;
  height: 40%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  visibility: hidden;
  opacity: 0;
  border-radius: 5px;
  transition: 0.5s;
  text-align: center;
}

.end-modal h1 {
  margin-top: 15%;
  padding: 5px;
}
.end-modal * {
  margin-top: 10%;
}

.end-modal a {
  color: #061944;
  text-decoration: none;
}

.end-modal a:hover {
  color: blue;
}

.end-modal button {
  border: 2px solid #061944;
  border-radius: 10px;
  width: 30%;
  height: 14%;
  margin: 15% 2px 0px;
  font-size: 13pt;
  color: #061944;
  transition: 0.5s;
}

.end-modal button:hover {
  background-color: #061944;
  color: white;
}
/* FOOTER SECTION*/
#footerarea {
  width: 108%;
  left: -4%;
  position: relative;
  min-height: 40px;
  max-height: 50px;
  box-shadow: 0 0 8px rgba(0, 0, 19, 0.3);
  z-index: 10;
  background: #111827;
  font-size: 12px;
  color: white;
  line-height: 10px;
  padding-top: 7px;
  padding-bottom: 40px;
}
#footerarea img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 33px;
  width: 33px;
}
#footerarea p {
  position: absolute;
  left: 49px;
  top: 50%;
  transform: translateY(-50%);
}
#footerarea a {
  transition: 0.2s;
  text-decoration: none;
  color: inherit;
}
#footerarea a:hover {
  text-decoration: underline;
}

#footerarea #socials {
  position: absolute;
  left: 91%;
  width: 9%;
  text-align: center;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  letter-spacing: 5px;
}
#footerarea #socials i {
  text-decoration: none;
}

/* Mobile */
@media screen and (max-width: 720px) {
  .discover-cards {
    width: 80%;
    height: 40%;
    right: 10%;
    top: 30%;
  }

  .search-results .tinder--card {
    width: 47%;
    height: 45%;
  }

  .end-modal {
    width: 90%;
  }
  .tinder--counter {
    display: none;
  }
  .tags-container {
    justify-content: center;
  }
  .tag {
    width: 80px;
    height: 80px;
  }
  .tag i {
    font-size: 50px;
  }
  #home-container .tinder--card {
    width: 100%;
  }
  #footerarea {
    position: fixed;
    bottom: 0;
  }
  #footerarea #socials {
    width: 14%;
    left: 76%;
    letter-spacing: unset;
  }
}
